<h1>Olá {{ name }}, tudo bem? Espero que sim!</h1>

<p>Sua conta foi criada em nosso blog. E seu dados estão abaixo:</p>
<p>
    Usuário de acesso: <strong>{{ username }}</strong> <br>
    Senha: <strong>{{ password }}</strong>
</p>
<hr>
<small>Email enviado em {{ "now"|date('d/m/Y H:i:s') }}</small>