{% extends 'admin/admin_layout.html.twig' %}

{% block body %}
    <h1>Criar Novo Post</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Criar Post</button>
    {{ form_end(form) }}
{% endblock %}